
  .lds-grid {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 25px;
    margin-top: 10px;
  }
  .lds-grid div {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 10px;
    left: 10px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 10px;
    left: 20px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 10px;
    left: 30px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 20px;
    left: 10px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 20px;
    left: 20px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 20px;
    left: 30px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 30px;
    left: 10px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 30px;
    left: 20px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 30px;
    left: 30px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
